<footer class="footer-section">
    <div class="footer-container">
        <div class="footer-about">
            <h3>Sistema de Tienda de alcohol y tabaco</h3>
            <p>Soluciones innovadoras para la gestión de la tienda.</p>
        </div>
        <div class="footer-contact">
            <h3>Contacto</h3>
            <p><i class="fa-solid fa-phone"></i> +34 611 72 66 17</p>
            <p><i class="fa-solid fa-envelope"></i> contacto@tienda.com</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Tienda de alcohol y tabaco | Todos los derechos reservados.
    </div>
</footer>