{% extends 'principal.html' %}
{% block title %}Crear Tarjeta{% endblock %}

{% block contenido %}
{% if perms.tienda.add_tarjeta %}
    <div class="container mt-5">
        <h1>Crear Tarjeta</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit" class="btn btn-primary">Crear Tarjeta</button>
        </form>
    </div>
{% else %}
    <div class="container mt-5">
        <p>No tienes permisos para crear tarjetas. Contacta al administrador si necesitas acceso.</p>
    </div>
{% endif %}
{% endblock %}
