{% extends 'principal.html' %}
{% block title %}Editar Categoría{% endblock %}

{% block contenido %}
{% if perms.tienda.change_categoria %}
    <div class="container mt-5">
        <h1>Editar Categoría</h1>
        <form method="post">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
{% else %}
    <div class="container mt-5">
        <p>No tienes permisos para editar categorías. Contacta al administrador si necesitas acceso.</p>
    </div>
{% endif %}
{% endblock %}
