{% extends "principal.html" %}

{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
<div class="container">
    <h1>Enlaces Avanzados</h1>
    <ul>
        <li><a href="{% url 'productos_precio_mayor' precio=1 %}">Productos con Precio Mayor a 1</a></li>
        <li><a href="{% url 'usuarios_con_productos_favoritos' %}">Usuarios con Múltiples Productos Favoritos</a></li>
        <li><a href="{% url 'inventario_bajo_minimo' %}">Productos con Inventario Bajo el Mínimo</a></li>
        <li><a href="{% url 'ordenes_total_aggregado' %}">Total de Órdenes (Aggregate)</a></li>
        <li><a href="{% url 'productos_por_categoria_y_precio' categoria_id=1 max_precio=100 %}">Productos por Categoría y Precio Máximo</a></li>
        <li><a href="{% url 'ordenes_recientes' %}">Últimas Órdenes</a></li>
        <li><a href="{% url 'usuarios_sin_telefono' %}">Usuarios sin Número de Teléfono</a></li>
        <li><a href="{% url 'detalle_orden_usuario' usuario_id=1 %}">Órdenes de un Usuario Específico</a></li>
        <li><a href="{% url 'categorias_ordenadas_por_prioridad' %}">Categorías Ordenadas por Prioridad</a></li>
        <li><a href="{% url 'buscar_productos_por_nombre_o_tipo' %}">Buscar Productos</a></li>
    </ul>
</div>
{% endblock %}

