{% extends "principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
{% if perms.tienda.view_producto %}
    <div class="container">
        <h1>Lista de Productos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Stock</th>
                    <th>Categorías</th>
                    <th>Tiempo Estimado de Envío</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td colspan="6">
                        {% include 'Listas/productos/productos.html' %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center;">No se encontraron productos.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="container">
        <p>No tienes permisos para ver los productos. Contacta al administrador si necesitas acceso.</p>
    </div>
{% endif %}
{% endblock %}
