{% extends "principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
{% if perms.tienda.view_productocategoria %}
    <div class="container">
        <h1>Lista de Productos por Categoría</h1>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Categoría</th>
                    <th>Fecha de Asociación</th>
                    <th>Nota Adicional</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for producto_categoria in productos_categoria %}
                <tr>
                    <td colspan="5">
                        {% include 'Listas/producto_categoria/producto_categoria.html' %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">No hay productos asociados a categorías.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="container">
        <p>No tienes permisos para ver la lista de productos por categoría. Contacta al administrador si necesitas acceso.</p>
    </div>
{% endif %}
{% endblock %}
