{% extends "principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Usuarios con Múltiples Productos Favoritos</h1>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Número de Favoritos</th>
                    <th>Productos Favoritos</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td colspan="4">
                        {% include 'Listas/usuario/usuarios_sin_telefono.html' %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" style="text-align: center;">No hay usuarios con múltiples productos favoritos.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
